@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(36, 33, 33);
}

.logo{
    color: rgb(255, 255, 255);
    font-size:2rem;
    font-weight: 600;
}

nav a{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-left: 1rem;
    transition: .5s;
}

nav a:hover,
nav a.active{
    color:rgb(118, 197, 39) ;
}

/* nabar ends */

section{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 33, 33);
    padding: 10rem;
    color: white;
}

.home{
    display: flex;
    align-items: center;
}

.home-content h1{
    font-size: clamp(3rem,10vh,5rem);
}

.home-content h2{
    font-size:2rem;
    
}

.home-content p{
    font-size:1rem;
    padding: 10px 0;
    margin-bottom: 10px;
}

.home-content .button{
    display: flex;
    align-items: center;
}

.home-content .button a{
    font-size: 1rem;
    font-weight:bold;
}

.btn{
    padding: 7px 15px;
    border-radius: 30px;
    color: black;
    font-size: 1rem;
    background-color: rgb(118, 197, 39) ;
    box-shadow: 0 0 2rem rgb(118, 197, 39);
    transition: .5s;
}

.btn:hover{
    background-color: transparent;
    color: rgb(118, 197, 39) ;
    box-shadow: none;
    border: 1px solid rgb(118, 197, 39) ;
}

.home-content .button .logo{
    margin-left: 0 30px;
    display: flex;
    gap: 20px;
}

.button{
    gap: 50px;
}

.home-content .button .logo a{
    color: rgb(118, 197, 39) ;
    border-radius: 50%;
    padding: .6rem;
    border: 2px solid rgb(118, 197, 39);
    font-size: 1rem;
    display: inline-flex;
    transition: .5s;
}

.home-content .button .logo a:hover{
    box-shadow: 0 0 1rem rgb(118, 197, 39);
    background-color: rgb(118, 197, 39);
    color: black;
}

.img-section .img{
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section .img::before,
.img-section .img::after{
    position:absolute;
    content: '';
    width: 15rem;
    height: 15rem;
    background: conic-gradient(transparent,transparent,transparent,rgb(118, 197, 39));
    transform: rotate(0deg);
    animation: rotate 10s linear infinite;
}   

.img-section .img::after{
    animation-delay: -5s;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

.img-section .img .image{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.img-section .img .image img{
    position: relative;
    object-fit: cover;
    mix-blend-mode: lighten;
}